<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Add your bookings to your calendar.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Add your bookings to your calendar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Add your bookings to your calendar.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${appName}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>af</string>
		<string>am</string>
		<string>ar</string>
		<string>as</string>
		<string>az</string>
		<string>be</string>
		<string>bg</string>
		<string>bn</string>
		<string>bo</string>
		<string>bs</string>
		<string>ca</string>
		<string>cs</string>
		<string>cy</string>
		<string>da</string>
		<string>de</string>
		<string>el</string>
		<string>en</string>
		<string>es</string>
		<string>et</string>
		<string>eu</string>
		<string>fa</string>
		<string>fi</string>
		<string>fil</string>
		<string>fr</string>
		<string>ga</string>
		<string>gl</string>
		<string>gsw</string>
		<string>gu</string>
		<string>he</string>
		<string>hi</string>
		<string>hr</string>
		<string>hu</string>
		<string>hy</string>
		<string>id</string>
		<string>is</string>
		<string>it</string>
		<string>ja</string>
		<string>ka</string>
		<string>kk</string>
		<string>km</string>
		<string>kn</string>
		<string>ko</string>
		<string>ku</string>
		<string>ky</string>
		<string>lo</string>
		<string>lt</string>
		<string>lv</string>
		<string>mk</string>
		<string>ml</string>
		<string>mn</string>
		<string>mr</string>
		<string>ms</string>
		<string>my</string>
		<string>nb</string>
		<string>ne</string>
		<string>nl</string>
		<string>no</string>
		<string>or</string>
		<string>pa</string>
		<string>pl</string>
		<string>ps</string>
		<string>pt</string>
		<string>ro</string>
		<string>ru</string>
		<string>si</string>
		<string>sk</string>
		<string>sl</string>
		<string>sq</string>
		<string>sr</string>
		<string>sv</string>
		<string>sw</string>
		<string>ta</string>
		<string>te</string>
		<string>th</string>
		<string>ti</string>
		<string>tl</string>
		<string>tr</string>
		<string>ug</string>
		<string>uk</string>
		<string>ur</string>
		<string>uz</string>
		<string>vi</string>
		<string>zh</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>zu</string>
	</array>
	<key>CFBundleName</key>
	<string>${appName}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<!-- 1. General app custom scheme -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>${websiteDomain}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Custom deep link scheme for the app (e.g., "myapp://") -->
				<string>${customScheme}</string>
				<!-- App’s bundle ID used as URL scheme for Firebase deep links when Universal Links fail (e.g., "com.company.app://link/?deep_link_id=https%3A%2F%2Fexample.com") -->
				<string>${iosBundleId}</string>
			</array>
		</dict>
		<!-- 2. Social Login -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>socialLogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Facebook OAuth redirect scheme (provided by Facebook SDK setup) -->
				<string>${facebookLoginProtocolScheme}</string>
				<!-- Reversed client ID for Google Sign-In (from GoogleService-Info.plist) (e.g., "com.googleusercontent.apps.1234567890-abcdefg://firebaseauth/link?deep_link_id=...") -->
				<string>${googleReversedClientId}</string>
			</array>
		</dict>
		<!-- 3. Custom scheme for Paytm payment callbacks. -->
		<!-- Ref: https://www.paytmpayments.com/docs/all-in-one-sdk/hybrid-apps/flutter -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>paytm</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>paytmMID</string>
			</array>
		</dict>
		<!-- 4. Custom scheme for Flux Dynamic Link callbacks. -->
		<dict>
			<key>CFBundleURLName</key>
			<string>FluxDynamicLink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${fluxDynamicLinkScheme}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ENVATO_PURCHASE_CODE</key>
	<string>${envatoPurchaseCode}</string>
	<key>FacebookAppID</key>
	<string>${facebookAppId}</string>
	<key>FacebookClientToken</key>
	<string>${facebookClientToken}</string>
	<key>FacebookDisplayName</key>
	<string>${appName}</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseDeepLinkPasteboardRetrievalEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>FlutterDeepLinkingEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>${adMobAppIdIos}</string>
	<key>GOOGLE_API_KEY</key>
	<string>${googleApiKeyIos}</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>amazonpay</string>
		<string>upi</string>
		<string>credpay</string>
		<string>bhim</string>
		<string>paytm</string>
		<string>phonepe</string>
		<string>tez</string>
		<string>navipay</string>
		<string>mobikwik</string>
		<string>myairtel</string>
		<string>popclubapp</string>
		<string>super</string>
		<string>kiwi</string>
		<string>simplypayupi</string>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>comgooglemapsurl</string>
		<string>comgooglemaps</string>
		<string>ppemerchantsdkv1</string>
		<string>ppemerchantsdkv2</string>
		<string>ppemerchantsdkv3</string>
		<string>paytmmp</string>
		<string>gpay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera for QR Code or Barcode scanner feature which can be access from the search bar</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app requires access to the Touch ID and Face ID to login in the app</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location to show on the map screen and provide location-based services.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to your location to show on the map screen and provide location-based services.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location to show on the map screen and provide location-based services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We would like access to the microphone to allow recording voice messages</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We would like access to store Image/Videos in your Photo Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to select the photo to use as your profile picture.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This application needs the speech recognition permission</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you. "Ask App Not to track" will limit Advertisement network's ability to deliver relevant ads to you but will not reduce the number of ads you receive.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>flutter</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>${branchKeyLive}</string>
		<key>test</key>
		<string>${branchKeyTest}</string>
	</dict>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
